:root{
    --bg-color: hsl(30, 38%, 92%);
    --card_bg-color: hsl(0, 0%, 100%);
    --title-color: hsl(212, 21%, 14%);
    --text-color: hsl(228, 12%, 48%);
    --hoverBtn-color: hsl(158, 42%, 18%);
    --PriceAndButton-color: hsl(158, 36%, 37%);
}

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* montserrat-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/montserrat-v31-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* fraunces-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/fraunces-v38-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/montserrat-v31-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

a{
    text-decoration: none;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
}

img{
    display: block;
    max-width: 100%;
}

.container{
    display: flex;
    flex-direction: row;
    margin: 22vh 0 1.5em 0;
    width: min(41rem, 700px);
    min-width: 21rem;
    background-color: var(--card_bg-color);
    border-radius: 0.6em;
}

.container__image{
    width: 50%;
}

.image__parfum{
    flex: 1;
    width: 100%;
    height: 100%;
    border-radius: 0.6em 0 0 0.6em;
    object-fit: cover;
}

.container__text{
    flex: 2;
    padding: 2em 1.8em 1.75em 1.9em;
    color: var(--text-color);
    font-family: 'Montserrat';
}

.product__info{
    text-transform: uppercase;
    margin-bottom: 1.85em;
    letter-spacing: 0.3rem;
    font-size: clamp(0.55rem, 1vw + 0.5rem, 0.75rem);
}

.text__title{
    color: var(--title-color);
    margin-bottom: 0.8em;
    margin-right: 0.3em;
    font-weight: 700;
    font-family: 'Fraunces';
    font-size: clamp(1.975rem, 2vw + 0.5rem, 2.2rem);
    line-height: 1;
}

.text__description{
    margin-bottom: 1.95em;
    margin-right: 1.5em;
    line-height: 1.65;
    font-weight: 500;
    font-size: clamp(0.88rem, 1vw + 0.5rem, 0.95rem);
}

.container__text__price{
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
    font-family: 'Fraunces';
    width: 100%;
}

.actual__price{
    color: var(--PriceAndButton-color);
    font-weight: bold;
    font-size: clamp(2.1rem, 2vw + 0.5rem, 2.2rem);
    margin-right: 0.5em;
}

.last__price{
    padding: 0.8rem 0;
    text-decoration: line-through;
    font-family: 'Montserrat';
    font-size: clamp(0.8rem, 1vw + 0.5rem, 0.85rem);
}

.cart-icon{
    margin-right: 0.75em;
}

.buy__btn{
    background-color: var(--PriceAndButton-color);
    padding: 1rem;
    color: var(--card_bg-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 0.5em;
    font-weight: 700;
    margin: 0 0.3rem;
    margin-right: 0.6rem;
    font-size: clamp(0.895rem, 1vw + 0.5rem, 0.92rem);
}

.cart-icon{
    object-fit: cover;
}

.buy__btn:hover{
    transition: all 0.5s ease-in-out;
    background-color: var(--hoverBtn-color);
}

@media (max-width: 450px) {
    .container{
        display: flex;
        flex-direction: column;
        margin-top: 10vh;
    }

    .container__image{
        width: 100%;
    }

    .image__parfum{
        border-radius: 0.6em 0.6em 0 0;
        width: 100%;
    }
}

@media (max-width: 650px) {
    .container{
        width: 90vw;
    }
}

.attribution { 
    font-size: clamp(0.555rem, 1vw + 0.5rem, 0.8rem);; 
    text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
